.footer {
  margin-top: auto;
  background: var(--mainBlack);
  padding: 2rem;
  text-align: center;
  color: var(--mainWhite);
}

.copyright {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.location {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--darkGrey);
  max-width: 500px;
  width: 100%;
  margin: 0 auto 1rem;
}

.location svg {
  color: var(--primaryColor);
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.social-icon {
  font-size: 2rem;
  color: var(--primaryColor);
  text-decoration: none;
  margin: 0 0.3rem;
}

.social-icon:hover {
  color: var(--mainGrey);
}
