.footer {
  margin-top: auto;
  background: var(--mainBlack);
  padding: 2rem;
  text-align: center;
  color: var(--mainWhite);
}

.copyright {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.location {
  line-height: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--darkGrey);
  max-width: 500px;
  width: 100%;
  margin: 0 auto 2rem;
}

.location svg {
  color: var(--primaryColor);
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 1rem;
}
