.navbar {
  background: #000;
}
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1.25rem;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--primaryColor);
  font-size: 1.5rem;
  display: none;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
  text-align: center;
}
/* .show-nav {
  height: 250px;
} */
.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--offWhite);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  margin: 0 auto;
}

.nav-links a:hover {
  color: var(--primaryColor);
}
.nav-social-links {
  display: none;
}
@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-header {
    justify-content: space-between;
  }
  .nav-links {
    height: auto;
    display: flex;
  }

  .nav-links a {
    border-bottom: none;
  }
  /* .nav-social-links {
    display: flex;
    line-height: 0;
  } */
  .nav-social-links a {
    color: var(--primaryColor);
    margin: 0 0.5rem;
    font-size: 1.6rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--darkGrey);
    transform: translateY(-3px);
  }
}
